<div>
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17">
              <h2  mat-dialog-title>Sınav</h2>
            </div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content class="p-3 overflow-auto" style="height: 400px;">
      <form [formGroup]="addCusForm " >
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Sınav</mat-label>
              <input readonly matInput formControlName="examName">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Soru Sayısı</mat-label>
              <input readonly matInput formControlName="examQuestionNumber">
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Sınav Süresi(dk)</mat-label>
              <input readonly matInput formControlName="examTime">
            </mat-form-field>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Full Puan</mat-label>
              <input readonly matInput formControlName="examSuccessGrade">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2 col-green">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Başlama tarihi</mat-label>
              <input readonly matInput type="datetime-local" formControlName="examStartDate">
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2 col-red">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Bitiş tarihi</mat-label>
              <input readonly matInput type="datetime-local" formControlName="examEndDate">
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <button mat-raised-button  
            style="background-color: rgb(235, 59, 156);
              color: white;" (click)="goToexamQuestions(this.exam.examId)">
            Sınava Gir
          </button>
        </div>
      </form>
    </div>
  </div>
  