<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Add New Teacher</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="proForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Classroom</mat-label>
                    <mat-select formControlName="class_room_id" required
                      (selectionChange)="onChangeSelect($event.value)">
                      <mat-option *ngFor="let classroom of Classrooms" [value]="classroom.id">{{classroom.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="proForm.get('class_room_id').hasError('required')">
                      classroom field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Branch</mat-label>
                    <mat-select formControlName="branch_id" required>
                      <mat-option *ngFor="let branch of selectedBranch" [value]="branch.id">{{branch.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="proForm.get('branch_id').hasError('required')">
                      branch field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="proForm.get('name').hasError('required')">
                      name field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Sur Name</mat-label>
                    <input matInput formControlName="surname" required>
                    <mat-error *ngIf="proForm.get('surname').hasError('required')">
                      surname girin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Gender</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'male'">
                        Male
                      </mat-option>
                      <mat-option [value]="'female'">
                        Female
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="proForm.get('gender').hasError('required')">
                      choose gender!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Identity number</mat-label>
                    <input matInput formControlName="identity_number" type="number" required>
                    <mat-error *ngIf="proForm.get('identity_number').hasError('required')">
                      identity number required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Birth Date</mat-label>
                    <input matInput type="date" formControlName="birth_date">
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="proForm.get('birth_date').hasError('required')">
                      birth date required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="phone_number" type="number" required>
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="proForm.get('phone_number').hasError('required')">
                      phone number field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="proForm.get('email').hasError('email') && proForm.get('email').touched">
                      email field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Şifre</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <mat-error *ngIf="proForm.get('password').hasError('required')">
                      /Password field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Şifreyi yeniden gir</mat-label>
                    <input matInput formControlName="c_password" type="password" required>
                    <mat-error *ngIf="proForm.get('c_password').hasError('required')">
                      confirmation password field is required!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Adres</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" mat-raised-button color="primary"
                    [disabled]="!proForm.valid">Save</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
