<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>eğitmen ekleme formu</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="proForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Ad</mat-label>
                    <input matInput formControlName="name" required>
                    <mat-error *ngIf="proForm.get('name').hasError('required')">
                      Adınızı girin!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Soyad</mat-label>
                    <input matInput formControlName="surname" required>
                    <mat-error *ngIf="proForm.get('surname').hasError('required')">
                      Soyadınızı girin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Baba Adı</mat-label>
                    <input matInput formControlName="fatherName">
                    <mat-error *ngIf="proForm.get('fatherName').hasError('required')">
                      Baba adı girin!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Anne Adı</mat-label>
                    <input matInput formControlName="motherName" required>
                    <mat-error *ngIf="proForm.get('motherName').hasError('required')">
                      Anne adı girin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>kimlik NO </mat-label>
                    <input matInput formControlName="identityNumber" type="number" required>
                    <mat-error *ngIf="proForm.get('identityNumber').hasError('required')">
                      Kimlik no girin!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Uyruk</mat-label>
                    <mat-select formControlName="countryId" required>
                      <mat-option *ngFor="let country of countrise" [value]="country.id">{{country.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="proForm.get('countryId').hasError('required')">
                      Uyruk seçin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Doğum Yeri</mat-label>
                    <input matInput formControlName="placeOfBirth" required>
                    <mat-error *ngIf="proForm.get('placeOfBirth').hasError('required')">
                      Doğum yeri girin!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Doğum tarihi</mat-label>
                    <input matInput type="date" formControlName="birthDate">
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="proForm.get('birthDate').hasError('required')">
                      Doğum tarihi girin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Cinsiyet</mat-label>
                    <mat-select formControlName="gender" required>
                      <mat-option [value]="'bay'">
                        Bay
                      </mat-option>
                      <mat-option [value]="'bayan'">
                        Bayan
                      </mat-option>
                    </mat-select>
                    <mat-error *ngIf="proForm.get('gender').hasError('required')">
                      Cinsiyet seçin!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Telefon</mat-label>
                    <input matInput formControlName="telephone" type="number" required>
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="proForm.get('telephone').hasError('required')">
                      Telefon numarası girin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Fakülte seçin</mat-label>
                    <mat-select formControlName="facultyId" required (selectionChange)="onChangeSelect($event.value)">
                      <mat-option *ngFor="let fau of faculty" [value]="fau.id">{{fau.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="proForm.get('facultyId').hasError('required')">
                      Fakülte seçin!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Departman Seçin</mat-label>
                    <mat-select formControlName="departmentId" required>
                      <mat-option *ngFor="let dep of selectedDepartment" [value]="dep.id">{{dep.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="proForm.get('departmentId').hasError('required')">
                      Departman seçin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error *ngIf="proForm.get('email').hasError('email') && proForm.get('email').touched">
                      Email girin!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">

                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Mezun Olunan Bölüm </mat-label>
                    <input matInput formControlName="departmentGraduated" required>
                    <mat-error *ngIf="proForm.get('departmentGraduated').hasError('required')">
                      Mezun olduğunuz bölümü girin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Şifre</mat-label>
                    <input matInput formControlName="password" type="password" required>
                    <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
                    <mat-error *ngIf="proForm.get('password').hasError('required')">
                      Şifre girin!
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Şifreyi yeniden gir</mat-label>
                    <input matInput formControlName="c_password" type="password" required>
                    <!-- <mat-icon matSuffix>visibility_off</mat-icon> -->
                    <mat-error *ngIf="proForm.get('c_password').hasError('required')">
                      Lütfen şifreyi tekrar girin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Adres</mat-label>
                    <textarea matInput formControlName="address"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                  <label>Ekle</label>
                  <app-file-upload  formControlName="img"></app-file-upload>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space"  mat-raised-button color="primary">Kaydet</button>
                  <button type="button" mat-button>Kapat</button>
                  <!-- [disabled]="!proForm.valid" -->
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
