<div class="addContainer">
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <img width="40px" height="40px" src="../../../assets/images/user/user-sidebar.png" alt="avatar">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            {{dialogTitle}}</div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <form class="register-form m-4" [formGroup]="proForm" (ngSubmit)="submit">
      <div class="row">
        <div *ngIf="action!=='edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Classroom</mat-label>
            <mat-select formControlName="class_room_id" required (selectionChange)="onChangeSelect($event.value)">
              <mat-option *ngFor="let classroom of Classrooms" [value]="classroom.id">{{classroom.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="proForm.get('class_room_id').hasError('required')">
              Classroom field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="action==='edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>class_room</mat-label>
            <input readonly matInput formControlName="ClassName" required>
          </mat-form-field>
        </div>
        <div *ngIf="action!=='edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Branch</mat-label>
            <mat-select formControlName="branch_id" required>
              <mat-option *ngFor="let branch of selectedBranch" [value]="branch.id">{{branch.name}}</mat-option>
            </mat-select>
            <mat-error *ngIf="proForm.get('branch_id').hasError('required')">
              Branch field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="action==='edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Branch</mat-label>
            <input readonly matInput formControlName="BranchName" required>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Name</mat-label>
            <input matInput formControlName="name" required>
            <mat-icon matSuffix>face</mat-icon>
            <mat-error *ngIf="proForm.get('name').hasError('required')">
              name field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Surname</mat-label>
            <input matInput formControlName="surname" required>
            <mat-error *ngIf="proForm.get('surname').hasError('required')">
              surname field is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender" required>
              <mat-option [value]="'male'">
                Male
              </mat-option>
              <mat-option [value]="'female'">
                Female
              </mat-option>
            </mat-select>
            <mat-error *ngIf="proForm.get('gender').hasError('required')">
              Gender field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>identity_number</mat-label>
            <input matInput formControlName="identity_number" type="number">
            <mat-error *ngIf="proForm.get('identity_number').hasError('required')">
              identity_number field is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>birth_date</mat-label>
            <input matInput type="date" formControlName="birth_date">
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="proForm.get('birth_date').hasError('required')">
              birth date field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>phone_number</mat-label>
            <input matInput formControlName="phone_number" type="number">
            <mat-icon matSuffix>phone</mat-icon>
            <mat-error *ngIf="proForm.get('phone_number').hasError('required')">
              phone number field is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" required>
            <mat-icon matSuffix>email</mat-icon>
            <mat-error *ngIf="proForm.get('email').hasError('required')">
              email field is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div *ngIf="action!=='edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput formControlName="password" type="password" required>
            <mat-icon matSuffix>visibility_off</mat-icon>
            <mat-error *ngIf="proForm.get('password').hasError('required')">
              password field is required!
            </mat-error>
          </mat-form-field>
        </div>
        <div *ngIf="action!=='edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Confirmation Password</mat-label>
            <input matInput formControlName="c_password" type="password" required>
            <mat-error *ngIf="proForm.get('c_password').hasError('required')">
              confirmation password field is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <mat-form-field class="example-full-width mb-3" appearance="outline">
            <mat-label>Address</mat-label>
            <textarea matInput formControlName="address" required></textarea>
            <mat-error *ngIf="proForm.get('address').hasError('required')">
              address field is required!
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button *ngIf="action!=='edit'" mat-raised-button color="primary" [type]="submit" [mat-dialog-close]="1"
              [disabled]="!proForm.valid" (click)="confirmAdd()">Save</button>
            <button *ngIf="action==='edit'" mat-raised-button color="primary" [type]="submit" [mat-dialog-close]="1"
              [disabled]="!proForm.valid" (click)="confirmAdd()">Update</button>
            <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
