<div>
  <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17">
              <h2 mat-dialog-title>Döküman Ekleme Formu</h2>
          </div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form [formGroup]="addDocumentForm">
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
            <label>Ekle</label>
            <app-file-upload formControlName="document"></app-file-upload>
          </div>
        </div>
        <div class="row">
          <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
          <div class="example-button-row">
            <button class="btn-space" mat-raised-button color="primary">Kaydet</button>
            <button type="button" mat-button (click)="closeDialog()">Iptal</button>
          </div>
          </div>
        </div>
      </form>
  </div>
</div>
