<div>
  <div class="modalHeader">
    <div class="editRowModal">
      <div class="modalHeader clearfix">
        <div class="modal-about">
          <div class="font-weight-bold p-t-5 font-17">
            <h2 mat-dialog-title>Announcement</h2>
          </div>
        </div>
      </div>
    </div>
    <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content class="p-3 overflow-auto" style="height: 400px;">
    <form [formGroup]="addCusForm ">
      <div class="text-inside">
        <mat-form-field class="example-full-width">
          <input readonly matInput formControlName="announcementTitle" required>
        </mat-form-field>
      </div>
      <div class="text-inside">
        <mat-form-field class="example-full-width col-pink">
          <input style="text-align: right;" readonly matInput formControlName="announcementDate" required>
        </mat-form-field>
      </div>
      <div class="text-inside" class="example-full-width mb-3" appearance="outline">
        <ckeditor disabled=true [config]="{toolbar:[]}" appearance="outline" formControlName="announcementBody"
          [editor]="Editor" data="Announcement Body"></ckeditor>
      </div>
      
    </form>
  </div>
</div>
