<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <div class="user-name">Sarah Smith</div>
                <div class="name-center">Kıdemli Öğretmen</div>
              </div>
              <img src="assets/images/user/usrbig3.jpg" class="user-img" alt="">
              <p>
                456, Estern evenue, Courtage area,
                <br />New York
              </p>
              <div>
                <span class="phone">
                  <i class="material-icons">phone</i>264-625-2583</span>
              </div>
              <div class="row">
                <div class="col-4">
                  <h5>564</h5>
                  <small>Takip</small>
                </div>
                <div class="col-4">
                  <h5>18k</h5>
                  <small>Takipçi</small>
                </div>
                <div class="col-4">
                  <h5>565</h5>
                  <small>Gönderi</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card">
          <mat-tab-group mat-align-tabs="start">
            <mat-tab label="Hakkında">
              <div class="p-4">
                <p class="text-default">Hello, I am a teacher at Fırat University, I love working with all my University staff and senior teachers.</p>
                <ul class="list-group list-group-unbordered">
                  <li class="list-group-item">
                    <b>Cinsiyet </b>
                    <div class="profile-desc-item float-end">Bayan</div>
                  </li>
                  <li class="list-group-item">
                    <b>Alınan Dersler </b>
                    <div class="profile-desc-item float-end">11k+</div>
                  </li>
                  <li class="list-group-item">
                    <b>Derece </b>
                    <div class="profile-desc-item float-end">B.A., M.A., P.H.D.</div>
                  </li>
                  <li class="list-group-item">
                    <b>Atama</b>
                    <div class="profile-desc-item float-end">Kıdemli Öğretmne</div>
                  </li>
                </ul>
              </div>
            </mat-tab>
            <mat-tab label="Yetenekler">
              <ul class="list-unstyled p-4">
                <li>
                  <div>JAVA</div>
                  <div class="progress skill-progress m-b-20">
                    <div class="progress-bar l-bg-green width-per-45" role="progressbar" aria-valuenow="45"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div>PHP</div>
                  <div class="progress skill-progress m-b-20">
                    <div class="progress-bar l-bg-orange width-per-38" role="progressbar" aria-valuenow="38"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div>Angular</div>
                  <div class="progress skill-progress m-b-20">
                    <div class="progress-bar l-bg-cyan width-per-39" role="progressbar" aria-valuenow="39"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
                <li>
                  <div>JavaScript</div>
                  <div class="progress skill-progress m-b-20">
                    <div class="progress-bar l-bg-purple width-per-70" role="progressbar" aria-valuenow="70"
                      aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                </li>
              </ul>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">face</mat-icon>
                Hakkımda
              </ng-template>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Hakkında</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-md-3 col-6 b-r">
                        <strong>Ad Soyad</strong>
                        <br>
                        <p class="text-muted">Emily Smith</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Telefon</strong>
                        <br>
                        <p class="text-muted">(123) 456 7890</p>
                      </div>
                      <div class="col-md-3 col-6 b-r">
                        <strong>Email</strong>
                        <br>
                        <p class="text-muted">johndeo@example.com</p>
                      </div>
                      <div class="col-md-3 col-6">
                        <strong>Konum</strong>
                        <br>
                        <p class="text-muted">India</p>
                      </div>
                    </div>
                    <p class="m-t-30">Completed my graduation in Arts from the well known and
                      renowned institution
                      of India – SARDAR PATEL ARTS COLLEGE, BARODA in 2000-01, which was
                      affiliated
                      to M.S. University. I ranker in University exams from the same
                      university
                      from 1996-01.</p>
                    <p>Worked as Professor and Head of the department at Sarda Collage, Rajkot,
                      Gujarat
                      from 2003-2015 </p>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting
                      industry. Lorem
                      Ipsum has been the industry's standard dummy text ever since the 1500s,
                      when
                      an unknown printer took a galley of type and scrambled it to make a
                      type
                      specimen book. It has survived not only five centuries, but also the
                      leap
                      into electronic typesetting, remaining essentially unchanged.</p>
                    <br>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Eğitim</strong></h2>
                  </div>
                  <div class="body">
                    <ul>
                      <li>B.A.,Gujarat University, Ahmedabad,India.</li>
                      <li>M.A.,Gujarat University, Ahmedabad, India.</li>
                      <li>P.H.D., Shaurashtra University, Rajkot</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Deneyimler</strong></h2>
                  </div>
                  <div class="body">
                    <ul>
                      <li>One year experience as Jr. Teacher from April-2009 to
                        march-2010 at B. J. Arts College, Ahmedabad.</li>
                      <li>Three year experience as Jr. Teacher at V.S. Arts &
                        Commerse Collage from April - 2008 to April -
                        2011.</li>
                      <li>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. </li>
                      <li>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. </li>
                      <li>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. </li>
                      <li>Lorem Ipsum is simply dummy text of the printing and
                        typesetting industry. </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Konferanslar, Kurslar &amp; Çalıştığı İşyerleri</strong></h2>
                  </div>
                  <div class="body">
                    <ul>
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                      </li>
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                      </li>
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                      </li>
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                      </li>
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                      </li>
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                      </li>
                      <li>Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">settings</mat-icon>
                Ayarlar
              </ng-template>
              <div class="header">
                <h2>
                  <strong>Güvenlik</strong> Ayarları</h2>
              </div>
              <div class="body">
                <div class="example-container">
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Kullanıcı Adı</mat-label>
                    <input matInput>
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Mevcut Şifre</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
                  <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Yeni Şifre</mat-label>
                    <input matInput type="password">
                  </mat-form-field>
                </div>
                <button mat-raised-button color="primary">Kaydet</button>
              </div>
              <div class="header">
                <h2>
                  <strong>Hesap</strong>Ayarları</h2>
              </div>
              <div class="body">
                <div class="row clearfix">
                  <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Ad </mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-6 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Soyad</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Şehir</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Email</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-lg-4 col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Ülke</mat-label>
                        <input matInput>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Adres</mat-label>
                        <textarea matInput></textarea>
                      </mat-form-field>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="form-group">
                      <mat-checkbox class="example-margin">Herkes için profil görünürlüğü
                      </mat-checkbox>
                    </div>
                    <div class="form-group">
                      <mat-checkbox class="example-margin">Yeni görev bildirimleri
                      </mat-checkbox>
                    </div>
                    <div class="form-group">
                      <mat-checkbox class="example-margin">Yeni arkadaşlık isteği bildirimleri
                      </mat-checkbox>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button mat-raised-button color="primary">Değişiklikleri Kaydet</button>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
