<section class="content" *ngIf="totalNumber">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <!-- Widgets -->
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="../../../../assets/images/dashboard/classroom.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Total Number of Classrooms</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0">{{totalNumber.class_rooms}}</h3>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 d-flex">
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="../../../../assets/images/dashboard/branch.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Total Number of Branches</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0">{{totalNumber.branches}}</h3>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 d-flex">
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
            </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="../../../../assets/images/dashboard/teacher.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Total Number of Teachers</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0">{{totalNumber.teacers}}</h3>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 d-flex">
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
            </p>          
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12">
        <div class="card card-statistic-2">
          <div class="clearfix">
            <div class="card-icon-only shadow-primary float-start">
              <img src="../../../../assets/images/dashboard/student.png" alt="">
            </div>
            <div class="card-right">
              <div>
                <h5 class="float-end">Total Number of Students</h5>
              </div>
              <div class="col-green">
                <h3 class="font-weight-bold float-end mb-0">{{totalNumber.students}}</h3>
              </div>
            </div>
          </div>
          <div class="card-content msl-4 mb-3">
            <p class="m-b-0 d-flex">
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
              <i class="material-icons col-green psr-2">star</i>
            </p>
          </div>
        </div>
      </div>
    </div>
    <!-- #END# Widgets -->
    <div class="row">
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Announcements</h2>
          </div>
          <div class="body overflow-auto" style="height: 400px;">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>Title</th>
                    <th>Body</th>
                    <th>Release date</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let announcement of Announcements" (click)="openAnnouncementCardDialog(announcement)">
                    <td>{{announcement.title}}</td>
                    <td>{{announcement.text}}</td>
                    <td>
                      <button mat-flat-button class="col-pink">{{announcement.created_at}}</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>Teachers</h2>
          </div>
          <div class="tableBody overflow-auto" style="height: 400px;">
            <div class="table-responsive">
              <table class="table table-hover ">
                <thead>
                  <tr>
                    <th>Classroom</th>
                    <th>Branch</th>
                    <th>Teacher</th>
                    <th># Phone Number</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let teacher of Teachers">
                    <td>{{teacher.class_room.name}}</td>
                    <td>{{teacher.branch.name}}</td>
                    <td>{{teacher.name}} {{teacher.surname}}</td>
                    <td>{{teacher.phone_number}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
</section>
