<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2>Bütün Dersler</h2>
          </div>
          <div class="body">
            <div class="row">
              <div *ngIf="isLoad === false" style="margin-left:40%" id="preloadLesson">
                <mat-spinner></mat-spinner>
              </div>
              <div class="col-md-3" *ngFor="let course of AllCourses">
                <div class="course-card" (click)="goToLecturesPage(course.lessonId)" id="{{course.lessonId}}">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="assets/images/banner/lessonimg.jpg">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src={{userImg}} width="40" height="40" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs">{{course.lessonName}}</h6>
                      <p class="text-muted"><time>---</time></p>
                      <span class="mb-3">Kod : {{course.lessonCode}}</span><br />
                      <span>Kredi : {{course.kredi}}</span><span class="right">Akts :
                        {{course.akts}}</span>
                      <p class="text-muted"></p>
                    </div>
                    <h6>Sınıf : {{course.className}}</h6>
                    <p>Detayları : {{course.detaily}}</p>
                    <!-- <div class="text-center mb-3">
                      <button mat-raised-button color="primary">Devamını Oku</button>
                    </div> -->
                  </div>
                  <footer class="bg-body-light">
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
