<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="header">
            <h2>All Courses</h2>
          </div>
          <div class="body">
            <div class="row">
              <div *ngIf="lecturesService.isTblLoading === true" style="margin-left:40%" id="preloadLesson">
                <mat-spinner></mat-spinner>
              </div>
              <div class="col-md-3" *ngFor="let lesson of lecturesService.dataChange.value">
                <div class="course-card" (click)="goToLecturesPage(lesson.id)" id="{{lesson.id}}">
                  <div class="course-card-body">
                    <div class="course-card-top-overflow text-white">
                      <img src="../../../assets/images/course/background-img.png" width="300" height="170" alt="...">
                    </div>
                    <div class="post-user mt-3">
                      <span class="float-start msr-3">
                        <img class="img-circle" src="../../../assets/images/course/background-img.png" width="40" height="40" alt="...">
                      </span>
                      <h6 class="mb-xs mt-xs">{{lesson.name}}</h6>
                      <p class="text-muted"><time>---</time></p>
                      <span class="mb-3">Code : {{lesson.code}}</span><br />
                      <span>Timer : {{lesson.timer}}</span>
                      <p class="text-muted"></p>
                    </div>
                    <div class="text-center mb-3">
                    </div> 
                  </div>
                  <footer class="bg-body-light">
                  </footer>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
