<section class="content" *ngIf="lecturesService.dataLessonInfo">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items"
        [active_item]="lecturesService.dataLessonInfo.name">
      </app-breadcrumb>
    </div>
    <!-- Your content goes here  -->
    <div class="row clearfix">
      <div class="col-lg-4 col-md-12">
        <div class="card">
          <div class="m-b-20">
            <div class="contact-grid">
              <div class="profile-header bg-dark">
                <br />
                <div class="user-name">Code: {{lecturesService.dataLessonInfo.code}}</div>
                <div class="name-center">Course: {{lecturesService.dataLessonInfo.name}}</div><br />
                <span class="phone">
                  <i class="material-icons">alarm</i>Timer : {{lecturesService.dataLessonInfo.timer}}
                </span>
              </div>
              <p>
                Classroom : {{lecturesService.dataLessonInfo.ClassName}}
                <br />
                Branch : {{lecturesService.dataLessonInfo.BranchName}}
              </p>
              <p>
                Details : {{lecturesService.dataLessonInfo.detaily}}
              </p>

            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12">
        <div class="card">
          <mat-tab-group>
            <!-- Contents -->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">book</mat-icon>
                Lesson Contents
              </ng-template>
              <div class="body">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>contents</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div *ngIf="lecturesService.isTblLoading" style="margin-left:40%" id="preload">
                          <mat-spinner></mat-spinner>
                        </div>
                        <mat-accordion *ngFor="let content of lecturesService.dataLessonContents; index as i"
                          class="example-headers-align">
                          <mat-expansion-panel [expanded]="step === i" (opened)="setStep(i)" hideToggle>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{content.title}}
                              </mat-panel-title>
                              <mat-panel-description>
                                {{lecturesService.dataLessonInfo.name}}
                                <mat-icon>assignment</mat-icon>
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-panel-description>
                              {{content.created_at | date: 'dd/MM/YYYY HH:mm:ss'}}
                            </mat-panel-description>
                            <div class="text-inside" class="example-full-width mb-3" appearance="outline">
                              <ckeditor *ngIf="content.text" disabled=true [editor]="Editor" [config]="{toolbar:[]}"
                                data="{{content.text}}"></ckeditor>
                              <ng-template *ngIf="!content.text"></ng-template>
                            </div>
                            <hr>
                            <div class="row">
                              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4 mt-3 ml-3">
                                <a *ngIf="content.document" mat-stroked-button target="_blank"
                                  href="{{url+content.document}}"><img
                                    src="../../../../assets/images/course/document.png" alt="Document"></a>
                                <ng-template *ngIf="!content.document"></ng-template>
                              </div>
                            </div>
                            <mat-action-row>
                              <button *ngIf="step !== 0" mat-button color="warn" (click)="prevStep()">Prev</button>
                              <button *ngIf="step !== lecturesService.dataLessonContents.length-1" mat-button
                                color="primary" (click)="nextStep()">Next</button>
                              <button *ngIf="step === lecturesService.dataLessonContents.length-1" mat-button
                                color="primary" (click)="nextStep()">End</button>
                            </mat-action-row>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <!-- Announcements -->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">announcement</mat-icon>
                Course Announcements
              </ng-template>
              <div class="body">
              </div>
              <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="project_widget">
                  <div class="header">
                    <h2><strong>Announcements</strong></h2>
                  </div>
                  <div class="body">
                    <div class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <mat-accordion *ngFor="let announcement of lecturesService.dataLessonAnnouncements; index as i"
                          class="example-headers-align">
                          <mat-expansion-panel [expanded]="stepAnnouncement === i" (opened)="setStepAnnouncement(i)" hideToggle>
                            <mat-expansion-panel-header>
                              <mat-panel-title>
                                {{announcement.title}}
                              </mat-panel-title>
                              <mat-panel-description>
                                {{announcement.lessonName}}
                                <mat-icon>assignment</mat-icon>
                              </mat-panel-description>
                            </mat-expansion-panel-header>
                            <mat-panel-description>
                              {{announcement.updated_at | date: 'dd/MM/YYYY HH:mm:ss'}}
                            </mat-panel-description>
                            <div class="text-inside" class="example-full-width mb-3" appearance="outline">
                              <ckeditor disabled=true [editor]="Editor" [config]="{toolbar:[]}" data="{{announcement.text}}">
                              </ckeditor>
                            </div>
                            <hr>
                            <mat-action-row>
                              <button *ngIf="stepAnnouncement !== 0" mat-button color="warn"
                                (click)="prevStepAnnouncement()">prev</button>
                              <button *ngIf="stepAnnouncement !== lecturesService.dataLessonAnnouncements.length-1" mat-button
                                color="primary" (click)="nextStepAnnouncement()">Next</button>
                              <button *ngIf="stepAnnouncement === lecturesService.dataLessonAnnouncements.length-1" mat-button
                                color="primary" (click)="nextStepAnnouncement()">End</button>
                            </mat-action-row>
                          </mat-expansion-panel>
                        </mat-accordion>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
            <!-- Students -->
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon msr-2">personal</mat-icon>
                Course Students
              </ng-template>
              <div class="row clearfix">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                  <div class="card">
                    <div class="header">
                      <h2>Students</h2>
                    </div>
                    <div class="tableBody">
                      <div class="table-responsive">
                        <table class="table">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Full Name</th>
                              <th>Gender</th>
                              <th>Phone Number</th>
                              <th>Email</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let student of lecturesService.dataLessonStudents">
                              <td>{{student.id}}</td>
                              <td>{{student.name}} {{student.surname}}</td>
                              <td>{{student.gender}}</td>
                              <td class="col-pink">{{student.phone_number}}</td>
                              <td><a href="mailto:{{student.email}}"> {{student.email}} </a></td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>
    </div>
  </div>
</section>
