<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Duyuru Ekleme Formu</h2>

            </div>
            <div class="body">
              <form class="m-4" [formGroup]="announcementForm" (ngSubmit)="onSubmit()">

                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Personel Adı</mat-label>
                    <input readonly matInput formControlName="liderId">
                    <mat-icon matSuffix>person</mat-icon>
                  </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Başlık</mat-label>
                        <input matInput formControlName="head">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row body">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 ">
                      <!-- <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>İçerik</mat-label>
                        <input matInput formControlName="body" >

                      </mat-form-field> -->
                      <div class="example-full-width mb-3" appearance="outline">
                        <ckeditor formControlName="body" [editor]="Editor" data=""></ckeditor>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!announcementForm.valid " mat-raised-button
                      color="primary">Gönder</button>
                    <button type="button" mat-button>İptal</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
