<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Add New Announcement</h2>

            </div>
            <div class="title">
              <form class="m-4" [formGroup]="announcementForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Title</mat-label>
                        <input matInput formControlName="title">
                      </mat-form-field>
                    </div>
                </div>
                <div class="row text">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2 ">
                      <div class="example-full-width mb-3" appearance="outline">
                        <ckeditor formControlName="text" [editor]="Editor" data=""></ckeditor>
                      </div>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!announcementForm.valid " mat-raised-button
                      color="primary">Save</button>
                    <button type="button" mat-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
