<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17">
              {{dialogTitle}}</div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="courseForm" (ngSubmit)="submit">
        <div class="row">
          <div *ngIf="action!=='edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Classroom</mat-label>
              <mat-select formControlName="class_room_id" required (selectionChange)="onChangeSelect($event.value)">
                <mat-option *ngFor="let classroom of Classrooms" [value]="classroom.id">{{classroom.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="courseForm.get('class_room_id').hasError('required')">
                Classroom field is required!
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="action==='edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>class_room</mat-label>
              <input readonly matInput formControlName="ClassName" required>
            </mat-form-field>
          </div>
          <div *ngIf="action!=='edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Branch</mat-label>
              <mat-select formControlName="branch_id" required>
                <mat-option *ngFor="let branch of selectedBranch" [value]="branch.id">{{branch.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="courseForm.get('branch_id').hasError('required')">
                Branch field is required!
              </mat-error>
            </mat-form-field>
          </div>
          <div *ngIf="action==='edit'" class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Branch</mat-label>
              <input readonly matInput formControlName="BranchName" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Course Name</mat-label>
              <input matInput formControlName="name" required>
              <mat-error *ngIf="courseForm.get('name').hasError('required')">
                course name field is required!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Code</mat-label>
              <input matInput formControlName="code" required>
              <mat-error *ngIf="courseForm.get('code').hasError('required')">
                course code field is required!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Time</mat-label>
              <input matInput formControlName="timer" type="number" required>
              <mat-error *ngIf="courseForm.get('timer').hasError('required')">
                course timer field is required!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Detaily</mat-label>
              <input matInput formControlName="detaily" required>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button mat-raised-button color="primary" [type]="submit" [disabled]="!courseForm.valid"
                [mat-dialog-close]="1" (click)="confirmAdd()">Save</button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Cancel</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  