<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17">
              {{dialogTitle}}</div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="homeworkForm" (ngSubmit)="submit">
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Ders Adı</mat-label>
              <mat-select [(ngModel)]="coursId" formControlName="lessonId" required [disabled]="action == 'addFromContent' ||action == 'edit'">
                <mat-option *ngFor="let lesson of dlesson" [value]="lesson.lessonId">{{lesson.lessonName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="homeworkForm.get('lessonId').hasError('required')">
                Ders seçin!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Ödev Adı</mat-label>
              <input matInput formControlName="name" required>
              <mat-error *ngIf="homeworkForm.get('name').hasError('required')">
                ödev adı girin!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Başlama tarihi</mat-label>
              <input matInput type="datetime-local" formControlName="startDate">
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="homeworkForm.get('startDate').hasError('required')">
                başlama tarihi girin!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Bitiş tarihi</mat-label>
              <input matInput type="datetime-local" formControlName="endDate">
              <mat-datepicker #picker></mat-datepicker>
              <mat-error *ngIf="homeworkForm.get('endDate').hasError('required')">
                Bitiş tarihi girin!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
              <mat-form-field class="example-full-width mb-3" appearance="outline">
                <mat-label>Açıklama</mat-label>
                <input matInput formControlName="description">
              </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
              <label>Ekle</label>
              <app-file-upload formControlName="document"></app-file-upload>
            </div>
        </div>
        <div class="row">
          <div  class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button mat-raised-button color="primary" [type]="submit" [disabled]="!homeworkForm.valid"
                [mat-dialog-close]="1" (click)="confirmAdd()">Kaydet</button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Iptal</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
