<section class="content">
  <div class="content-block">
    <div class="block-header" *ngFor="let breadscrum of breadscrums">
      <!-- breadcrumb -->
      <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
      </app-breadcrumb>
    </div>
    <div class="row clearfix">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="card">
          <div class="header">
            <h2>bölüm ekleme formu</h2>

          </div>
          <div class="body">
            <form class="m-4" [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Fakülte</mat-label>
                    <mat-select formControlName="facultyId" required>
                      <mat-option *ngFor="let fau of faculty" [value]="fau.id">{{fau.name}}</mat-option>
                    </mat-select>
                    <mat-error *ngIf="departmentForm.get('facultyId').hasError('required')">
                      fakülte gerekli
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Bölüm Kodu</mat-label>
                    <input matInput formControlName="code" required>
                    <mat-error *ngIf="departmentForm.get('code').hasError('required')">
                      bölüm kodu gerekli
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Bölüm Adı</mat-label>
                    <input matInput formControlName="name" >
                    <mat-error *ngIf="departmentForm.get('name').hasError('required')">
                      bölüm adı gerekli
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Telefon Numarası</mat-label>
                    <input matInput formControlName="telephone" type="number">
                    <mat-icon matSuffix>phone</mat-icon>
                    <mat-error *ngIf="departmentForm.get('telephone').hasError('required')">
                      telefon numarası gerekli
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" required>
                    <mat-icon matSuffix>email</mat-icon>
                    <mat-error
                      *ngIf="departmentForm.get('email').hasError('required') || departmentForm.get('email').touched">
                      lütfen email girin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Başlama Tarihi</mat-label>
                    <input matInput type="date" formControlName="startDate">
                    <mat-datepicker #picker></mat-datepicker>
                    <mat-error *ngIf="departmentForm.get('startDate').hasError('required')">
                      başlama tarihi girin!
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Öğrenci Kapasitesi</mat-label>
                    <input matInput formControlName="studentCapacity" required type="number">
                    <mat-icon matSuffix>group</mat-icon>
                    <mat-error *ngIf="departmentForm.get('studentCapacity').hasError('required')">
                      lütfen boş bırakmayın
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <mat-form-field class="example-full-width mb-3" appearance="outline">
                    <mat-label>Detaylar</mat-label>
                    <textarea matInput formControlName="details"></textarea>
                  </mat-form-field>
                </div>
              </div>
              <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                  <button class="btn-space" mat-raised-button color="primary" [disabled]="!departmentForm.valid">Kaydet</button>
                  <button type="button" mat-button>İptal</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
