<section class="content">
    <div class="content-block">
      <div class="block-header" *ngFor="let breadscrum of breadscrums">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="breadscrum.title" [items]="breadscrum.items" [active_item]="breadscrum.active">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card">
            <div class="header">
              <h2>Ödev Ekleme Formu</h2>
            </div>
            <div class="body">
              <form class="m-4" [formGroup]="homeworkForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                        <mat-form-field class="example-full-width mb-3" appearance="outline">
                          <mat-label>Ders Adı</mat-label>
                          <mat-select formControlName="lessonId" required>
                            <mat-option *ngFor="let lesson of dlesson" [value]="lesson.lessonId">{{lesson.lessonName}}</mat-option>
                          </mat-select>
                          <mat-error *ngIf="homeworkForm.get('lessonId').hasError('required')">
                            Ders seçin!
                          </mat-error>
                        </mat-form-field>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Ödev Adı</mat-label>
                        <input matInput formControlName="name" required>
                        <mat-error *ngIf="homeworkForm.get('name').hasError('required')">
                          ödev adı girin!
                        </mat-error>
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Başlama tarihi</mat-label>
                      <input matInput type="datetime-local" formControlName="startDate">
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="homeworkForm.get('startDate').hasError('required')">
                        başlama tarihi girin!
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
                    <mat-form-field class="example-full-width mb-3" appearance="outline">
                      <mat-label>Bitiş tarihi</mat-label>
                      <input matInput type="datetime-local" formControlName="endDate">
                      <mat-datepicker #picker></mat-datepicker>
                      <mat-error *ngIf="homeworkForm.get('endDate').hasError('required')">
                        Bitiş tarihi girin!
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                      <mat-form-field class="example-full-width mb-3" appearance="outline">
                        <mat-label>Açıklama</mat-label>
                        <input matInput formControlName="description">
                      </mat-form-field>
                    </div>
                  </div>
                <div class="row">
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-5">
                      <label>Ekle</label>
                      <app-file-upload  formControlName="document"></app-file-upload>
                    </div>
                </div>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
                    <button class="btn-space" [disabled]="!homeworkForm.valid " mat-raised-button
                      color="primary">Gönder</button>
                    <button type="button" mat-button>İptal</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  