<div class="addContainer">
    <div class="modalHeader">
      <div class="editRowModal">
        <div class="modalHeader clearfix">
          <div class="modal-about">
            <div class="font-weight-bold p-t-5 font-17">
              {{dialogTitle}}</div>
          </div>
        </div>
      </div>
      <button mat-icon-button (click)="dialogRef.close()" aria-label="Close dialog">
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div mat-dialog-content>
      <form class="register-form m-4" [formGroup]="dteacherForm" (ngSubmit)="submit">
        <div class="row">
          <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Fakülte seçin</mat-label>
              <mat-select formControlName="facultyId" required (selectionChange)="onChangeSelect($event.value)">
                <mat-option *ngFor="let fau of faculty" [value]="fau.id">{{fau.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="dteacherForm.get('facultyId').hasError('required')">
                Fakülte seçin!
              </mat-error>
            </mat-form-field>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Departman Seçin</mat-label>
              <mat-select formControlName="departmentId" required (selectionChange)="onChangeSelectLesson($event.value)" (selectionChange)="onChangeSelectAcademician($event.value)">
                <mat-option *ngFor="let dep of selectedDepartment" [value]="dep.id">{{dep.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="dteacherForm.get('departmentId').hasError('required')">
                 Departman seçin!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Academician Ad</mat-label>
              <mat-select formControlName="academicianId" required>
                <mat-option *ngFor="let aca of selectedAcademician" [value]="aca.id">{{aca.name}}</mat-option>
              </mat-select>
              <mat-error *ngIf="dteacherForm.get('academicianId').hasError('required')">
                eğitmen seçin!
              </mat-error>
            </mat-form-field>
          </div>
          <div  class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mb-2">
            <mat-form-field class="example-full-width mb-3" appearance="outline">
              <mat-label>Ders Adi</mat-label>
              <mat-select formControlName="lessonId" required>
                <mat-option *ngFor="let les of selectedLesson" [value]="les.id">{{les.lessonName}}</mat-option>
              </mat-select>
              <mat-error *ngIf="dteacherForm.get('lessonId').hasError('required')">
                ders seçin!
              </mat-error>
            </mat-form-field>
          </div>
        </div>
        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-2">
            <div class="example-button-row">
              <button mat-raised-button color="primary" [type]="submit" [disabled]="!dteacherForm.valid"
                [mat-dialog-close]="1" (click)="confirmAdd()">Kaydet</button>
              <button mat-raised-button color="warn" (click)="onNoClick()" tabindex="-1">Sil</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  